<div class="container" style="margin-top: 9em">
  <div class="row">
    <div class="col-md-5">
      <img src="../../../assets/images/aashis_about.jpg">
    </div>
    <div class="col-md-7 " style="padding:2em">
      <div style="width: 220px; text-align: left">
        <h1 class="header_topic">About Me </h1>
        <div>
          <div style="width: 40%; float: left;height: 2px; background: black"></div>
          <div class="header_title"> A BREIF INTRO </div>
        </div>
      </div>
      <p>
        Goal driven entry-level engineer eager to enter the world of software development to help deliver daily
        solutions for faster and efficient workings. Result driven, team player, meticulous seasoned with creative and
        industrious nature to be the safe hand at times of need. Seeking to leverage solid skills in collaboration,
        communication, and development as a programmer in fields of robotics and daily solutions.
      </p>
      <a [href]="resumeLink"><button mat-button>Download Resume</button></a>
    </div>
  </div>
</div>