<div class="container">
  <div class="row">
    <div class="col-md-7" style="margin-top: 25vh; text-align: center">
      <h1 style="font-weight: 700px;color: black">I'm</h1>
      <div class="row " style="text-align:center">
        <div class="ease-purple name">
          <h1 style="color: white; margin: 0.2em">AASHIS</h1>
        </div>
      </div>

      <div class="row " style="text-align:center; margin-top: 0.5em">
        <div class="ease-purple name">
          <h1 style="color: white;  margin: 0.2em">KUMAR</h1>
        </div>
      </div>
    </div>
    <div class="col-md-5 me"></div>
  </div>
</div>