<div class="container">
  <div class="row align-items-center" style="margin-top:2em">
    <div class="row mx-auto" style="margin-top:9em">
      <div style="width: 220px; text-align: left ;margin: auto">
        <h1 class="header_topic">TESTIMONIALS</h1>
        <div>
          <div style="width: 65%; float: left;height: 2px; background: black"></div>
          <div class="header_title">❤❤❤❤ </div>
        </div>
      </div>
    </div>
  </div>


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">


        <div class="carousel-item active">
          <div class="row" style="margin-top:2em">
            <div class="col-4 name my-auto d-none d-lg-block">
              {{testimonials[0].by}}
              <p>{{testimonials[0].designation}}</p>
            </div>
            <div class="col border-round">
              {{testimonials[0].comment}}
              <div class="d-block d-md-none">
                <br>
                <b>{{testimonials[0].by}}</b>
                <span class="designation-mobile">{{testimonials[0].designation}}</span>
              </div>
            </div>
          </div>
        </div>



        <div class="carousel-item ">
            <div class="row" style="margin-top:2em">
              <div class="col-4 name my-auto d-none d-lg-block">
                {{testimonials[1].by}}
                <p>{{testimonials[1].designation}}</p>
              </div>
              <div class="col border-round">
                {{testimonials[1].comment}}
                <div class="d-block d-md-none">
                  <br>
                  <b>{{testimonials[1].by}}</b>
                  <span class="designation-mobile">{{testimonials[1].designation}}</span>
                </div>
              </div>
            </div>
          </div>
      </div>



    </div>