<div class="container" >
  <div class="row mx-auto" style="margin-top:9em" >
    <div style="width: 220px; text-align: left ;margin: auto">
      <h1 class="header_topic">SKILLS </h1>
      <div>
        <div style="width: 35%; float: left;height: 2px; background: black"></div>
        <div class="header_title"> I SUPERHERO 💣 </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:1.7em">
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-6"> <img src="https://static1.squarespace.com/static/553511e8e4b0a33a05b21990/t/574874d8b654f901461b8b97/1503512546135/android+logo-02-01.jpg?format=1000w"
              alt="" srcset=""></div>
          <div class="col-md-6"><img src="https://cdn-images-1.medium.com/max/1200/1*MOqak5a96Zdy6gv9HCCxWg.png" alt=""
              srcset="">
          </div>
        </div>
        <div class="row">
          <div class="col-6"><img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/113727303/original/17ed92e37f216d061e5f53ef9488c2cb0ed6d5c7/do-ultimate-photoshop-editing-graphics-design-logo-design.jpg"
              alt="" srcset=""></div>
          <div class="col-6"><img src="https://flutter.io/images/catalog-widget-placeholder.png" alt="" srcset=""></div>
        </div>

    </div>
    <div class="col-md-6 text" style="margin-top: 3em">
      Coupled with knowledge of React JS, Ionic, Rasberry PI,Arduino, Android, Illustrator, Security and Pentesting,
      MATLAB, Linux, Machine Learning...... etc. All the spices that enginners have.
      <br>
      Minus Dancing <b>💃</b> , Singing <b>🧟</b> and Swimming <b>🏊</b>
      <br>
      <br>
      Ahhhhhhhhhhhh............. YES I CANT'T SWIM
    </div>
  </div>
</div>