<nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-none  d-lg-block">
          <li><button mat-button [ngx-scroll-to]="'home'">HOME</button></li>
          <li><button [ngx-scroll-to]="'skills'" [ngx-scroll-to-offset]="-200" mat-button>SKILLS</button></li>
          <li><button mat-button [ngx-scroll-to]="'project'" [ngx-scroll-to-offset]="-200">PROJECTS</button></li>
          <li><button mat-button>CONTACT</button></li>
        </div>
      </div>
      <div class="col ease-purple-t nav-logo" style="text-align:right">
        aesher9o1
      </div>
    </div>
  </div>
</nav>

<app-landing id="home"></app-landing>
<app-about-me id="about"></app-about-me>
<app-skills id="skills"></app-skills>
<app-experience id="experience"></app-experience>
<app-projects id = "project"></app-projects>
