<nav >
  <div class="container">
    <div class="row">
      <div class="col ">
        <div class="hidden-xs">
          <li><button mat-button>HOME</button></li>
          <li><button mat-button>SKILLS</button></li>
          <li><button mat-button>PROJECTS</button></li>
          <li><button mat-button>CONTACT</button></li>
        </div>
      </div>
      <div class="col ease-purple-t nav-logo">
        aesher9o1
      </div>
    </div>
  </div>
</nav>

<app-landing></app-landing>
<app-about-me></app-about-me>