nav{
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    margin-top: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: all .15s linear;
}

.nav-logo{
    font-family: 'aesher';
    float: right;
    font-size: 27px;
    margin-right: .5em
}

.nav-logo:hover{
    cursor: pointer;
}

li{
    list-style: none;
    float: left;   
    padding: 0 15px;
    
}
button{
    font-weight: 300;
    font-size: 13px;
    font-family: 'Raleway',sans-serif;
}