<div class="container" style="margin-top: 9em">
  <div id="contact" style="margin-top: 14em;text-align: center">
    <h3> A cup off coffee/ some kind words? </h3>
    <p style="font-size:20px"> I would love to hear from you. Any doubts. Want to hire me? Or just a
      coffee. <br>I am a friendly programmer 🎅 </p>
  </div>

  <div class="row" style="margin-top: 5em">
    <div class="col-md-4">
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email ID</mat-label>
          <input matInput placeholder="Email id">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Anything you want to say" rows="7"></textarea>
        </mat-form-field>

        <button mat-stroked-button style="color:#0ca4a5">Send</button>
      </div>
    </div>
    <div class="col-md-4" style="text-align:center">
      <div class="row" style="padding-top:1em">
        <div class="col-4" style="text-align: center"><a href="https://www.linkedin.com/in/aashiskumar/" style="text-decoration: none"><i
              class="fab fa-linkedin-in ease-purple-t"></i></a></div>
        <div class="col-4" style="text-align: center"><a href="mailto:aashiskumar986@gmail.com" style="text-decoration: none"><i
              class="fas fa-mail-bulk ease-purple-t"></i></a></div>
        <div class="col-4" style="text-align: center"><a href="https://github.com/aesher9o1" style="text-decoration: none"><i
              class="fab fa-github ease-purple-t"></i></a></div>
      </div>
    </div>
    <div class="col-md-4" style="text-align:center">
      <h1 class="ease-purple-t" style="font-family:aesher; margin-top: 0.2em">aesher9o1</h1>
    </div>
  </div>
</div>